body {
    background: hsl(20, 1%, 46%);
    color: rgb(0, 0, 0);
    font-family: 'Copperplate', monospace,Arial, Helvetica, sans-serif ;
}
div {
    display: flex;
    justify-content: center;
    color: red;
}

nav{
    display:flex;
    justify-content:space-between    
}

header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:1rem 2em;
    background-color: rgb(218, 206, 206); 
}
a:hover { color: rgb(255, 0, 0);    
}

a{
    color: rgb(0, 0, 0);
    transition: color 0.5s ease 0.3s;
}

li{
    display: inline; block-size: 5px;
    background-color: darkgray;
    padding: 1rem 2em;
}

a img {
    display: inline-block;
    transition: 0.5 ease;
}

a img:hover{
    transform: scale(1.3);
}

main img{
    display: flex;
    justify-content:center;
    padding: 1rem 2em;
    

   
}

